<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../../assets/img/icon-16.png">
  <title>Options | Copy as-slug</title>
  <link rel="stylesheet" href="../../lib/mvp.css">
  <link rel="stylesheet" href="./options.css">
</head>

<body>
  <header>
    <h1>Options</h1>
    <p>Limited options for the <code>slugify</code> library and options for the <code>extension</code>.</p>
  </header>

  <main>
    <section>
      <code id="test-string-preview"></code>
    </section>

    <section>
      <!--
      Mind the `name` attributes, they are also the keys for the options storage.
      A custom logic might apply for each. And the restore logic depends on them.
      -->
      <form name="options" autocomplete="off">
        <!-- slugify options -->
        <fieldset>
          <legend>Slugify Options</legend>
          <label>
            <code>lowercase</code>
            <input type="checkbox" name="slugify.lowercase">
          </label>
          <label>
            <code>decamelize</code>
            <input type="checkbox" name="slugify.decamelize">
          </label>
          <label>
            <code>preserveLeadingUnderscore</code>
            <input type="checkbox" name="slugify.preserveLeadingUnderscore">
          </label>
          <label>
            <code>preserveTrailingDash</code>
            <input type="checkbox" name="slugify.preserveTrailingDash">
          </label>
          <label>
            <code>separator</code>
            <input name="slugify.separator">
          </label>
        </fieldset>
        <!-- extension options -->
        <fieldset>
          <legend>Extension Options</legend>
          <label>
            <code>maxSelectionLength</code>
            <input name="extension.maxSelectionLength" inputmode="numeric" pattern="\d*">
          </label>
          <label>
            <code>testString</code>
            <textarea name="extension.testString"></textarea>
          </label>
        </fieldset>
      </form>
    </section>
  </main>

  <footer>
    <p><code>Copy as-slug</code></p>
    <p><img src="../../assets/img/icon-32.png" alt="Copy as-slug Icon"></p>
    <p>This extension is built with the help of <a href="https://github.com/sindresorhus/slugify" title="sindresorhus/slugify: Slugify a string">sindresorhus/slugify</a> and <a href="https://github.com/andybrewer/mvp/" title="andybrewer/mvp: MVP.css — Minimalist classless CSS stylesheet for HTML elements">andybrewer/mvp</a>. 🙏❤️</p>
    <p>GitHub link for the source code: <a href="https://github.com/xkema/copy-as-slug" title="xkema/copy-as-slug: A Browser Extension to copy selected texts as-slug on a web page">xkema/copy-as-slug</a></p>
  </footer>

  <script type="module" src="../options.mjs"></script>
</body>

</html>
